<!DOCTYPE html>
<html>
  <head>
    <title>Template Syntax</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
      <span>The most basic syntax: {{msg}}</span><br />
      <span v-once>This will never change: {{msg2}}</span>
      <p>Using mustaches: {{rawHtml}}</p>
      <p>Using v-html directive: <span v-html="rawHtml"></span></p>

      <div v-bind:id="dynamicId">
        This div tag has a dynamic ID.
        <button v-bind:disabled="isButtonDisabled">Button</button>
      </div>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          msg: 'hello World!',
          msg2: 'hi',
          rawHtml: '<span style="color:red;">This should be red.</span>',
          dynamicId: 'dynamicGeneratedId',
          isButtonDisabled: false
        }
      });
    </script>
  </body>
</html>