<!DOCTYPE html>
<html>
  <head>
    <title>Checkbox</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
      <input type="checkbox" id="cb" v-model="checked">
      <label for="cb">{{checked}}</label>
      <hr />
      <label><input type="checkbox" value="Jack" v-model="checkedNames">Jack</label>
      <label><input type="checkbox" value="John" v-model="checkedNames">John</label>
      <label><input type="checkbox" value="Mike" v-model="checkedNames">Mike</label>
      <br />
      <span>Checked names: {{checkedNames}}</span>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          checked: false,
          checkedNames: []
        }
      });
    </script>
  </body>
</html>