<!DOCTYPE html>
<html>
  <head>
    <title>radio</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue"></script>
    <div id="app">
      <label><input type="radio" value="One" v-model="picked">One</label><br />
      <label><input type="radio" value="Two" v-model="picked">Two</label><br />
      <span>Picked: {{picked}}</span>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          picked: ''
        }
      });
    </script>
  </body>
</html>